* {
    text-align: center;
    margin: 0 auto;
}

body{
    background-image: linear-gradient(#000000, #700000, #ff0000);
    height: fill;
}


nav {
    padding: 15px;
    display: flex;
    margin-bottom: 50px;
}

.online_coaching button{
    background-color: black;
    color: white;
    border-color: white;
    padding: 10px;
    margin-top: 25px;
    width: 250px;
    border-radius: 25px;
    font-size: 25px;
}

.programs button{
    background-color: black;
    color: white;
    border-color: white;
    padding: 10px;
    margin-top: 25px;
    width: 250px;
    border-radius: 25px;
    font-size: 25px;
}

.icons {
    padding-bottom: 25px;
}

/*TikTok*/

#tik_tok {
    padding-right: 20px;
    
}

#tik_tok:hover {
    color: white;
    transition: 0.3s;
}

#tik_tok:active {
    color: grey;
    transition: 0.2s;
}

/*Youtube*/

#youtube {
    padding-right: 20px;
}

#youtube:hover {
    transition: 0.3s;
    color: white;
}

#youtube:active {
    color: grey;
    transition: 0.2s;
}

/*Instagram*/

#instagram:hover {
    color: white;
    transition: 0.3s;
}

#instagram:active {
    color: grey;
    transition: 0.2s;
}

#profile_picture {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

h2 {
    padding-top: 5px;
    padding-bottom: 15px;
}



.share {
    color: white;
    border-radius: 50%;
    border-style: solid;
    background-color: black;
    height: 35px;
    width: 35px;
}

.share:hover {
    color: red;
    border-color: red;
    transition: 0.3s;
}

.share:active {
    color: grey;
    border-color: grey;
    transition: 0.2s;
}

.share i {
    padding-top: 15px;
}

/*Subscribe*/

.subscribe {
    color: white;
    display: inline-flex;
    background-color: black;
    width: auto;
    height: auto;
    border-radius: 20px;
    border-color: white;
    border-style: solid;
}

.subscribe:hover {
    color: red;
    border-color: red;
    transition: 0.3s;
}

.subscribe:active {
    color: grey;
    border-color: grey;
    transition: 0.2; 
}

.subscribe i {
    padding-top: 16px;
    padding-left: 15px;
}

.subscribe p {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.video iframe {
    border-radius: 50px;
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
}